<html>
	<head>
		<title>Login</title>
	</head>

	<body>
		<h1>Restaurant Login</h1>
		<form action="/login" method="post">
			<table>
				<tr>
					<td><label for="name">User Name</label></td>
					<td><input type="text" id="username" name="username" required></td>
				</tr>
				<tr>
					<td><label for="password">Password</label></td>
					<td><input type="password" id="password" name="password"></td>
				</tr>
				<tr>
					<td><button type="submit" value="Login">Login</button></td>
				</tr>
			</table>
		</form>
	</body>
</html>
